<section ng-controller="QuestionsController">
  <div class="page-header">
    <h1>New Question</h1>
  </div>
  <div class="col-md-12">
    <form name="questionForm" class="form-horizontal" ng-submit="create(questionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="text">Text</label>
          <textarea id="text"
                    name="text"
                    ng-model="text"
                    class="form-control"
                    cols="30"
                    rows="10"
                    placeholder="Text">
          </textarea>
          <div ng-messages="questionForm.text.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Question text is required.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary"/>
        </div>
        <div ng-show="error"
             class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
