div(ng-include='"components/navbar/navbar.html"')

.container
  h2 {{interview.interviewee}}
    |&nbsp;
    span.label.label-default {{interview.position}}
  button.btn.btn-success.pull-right(ng-click='start()', ng-hide="current || interview.finishedAt") Start
  a.btn.btn-success.pull-right(ui-sref='interviewReport({id: interview._id})', ng-show="interview.finishedAt") Report

.container
  .list-group
    .list-group-item(ng-repeat='answer in answers | filter: {given: true}')
      .list-group-item-heading {{answer.question.text}}
        |&nbsp;
        span(label-rating='{{answer.rate}}')

  .panel.panel-info(ng-show='current')
    .panel-body
      .well
        .container-fluid
          .row
            .col-md-12
              form.form-horizontal
                .container
                  .row
                    .col-md-10
                      label(for='comment') {{current.question.text}}
                      textarea.form-control(rows='5', ng-model='current.comment', name="comment", focus='{{current}}')
                    .col-md-2
                      label(for='rate') Rate:
                      |&nbsp;
                      span(label-rating='{{current.rate}}')
                      input(type="range", orient="vertical", name="rate", min=0, max=10, ng-model="current.rate")
          .row
            .col-md-12
              button.btn.btn-info.pull-right(ng-click='giveAnswer()', ng-hide='current.startedManually') {{isLastAnswer() ? 'Finish' : 'Next Question'}}
              button.btn.btn-success.pull-right(ng-click='giveAnswer2()') Give


  .list-group
    .list-group-item(ng-repeat='answer in answers | filter: {given : false}', ng-show="answer != current")
      .list-group-item-heading {{answer.question.text}}
        |&nbsp;
        span(label-rating='{{answer.rate}}')
        button.btn.btn-success.pull-right(ng-click='startAnswer2(answer)', ng-hide='current') Start this
